

body {
    background-color:#85a3e0;
    background-image: url(images/abstract.jpg);
    background-size:100% 25%;
    background-repeat:no-repeat;
    background-position: left top;
    background-attachment: fixed;
    color:white;
}
html, body, h1, h2, h3, h4, h5, h6{
  font-family: "Cursive", cursive, sans-serif;
  font-family: "Times New Roman", times, serif;
}

table, th, td {
    border: 1px solid black;
    text-align:center;
    
}